@font-face {
  font-display: swap;
  font-family: 'Inter-Varible';
  src:
    local('Inter-Varible'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 100 900;
}

@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  src:
    local('PressStart2P'),
    url(./PressStart2P-Regular.woff) format('woff');
  font-weight: 400;
}
