.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, Inter-Varible), sans-serif;
  font-size: 18px;
  line-height: 1;
  font-variation-settings: 'wght' var(--base-weight, 400);
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #000);
  padding-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  margin: 100px
          clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem)
          clamp(0rem, -2.2007rem + 9.3897vw, 6.25rem);
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-weight: var(--base-weight, 400);
  border: var(--border, 2px solid #000);
  background-color: #fff;
}

header::before {
  content: '';
  position: absolute;
  block-size: clamp(41.6875rem, 35.2394rem + 27.5117vw, 60rem);
  inset: 0;
  z-index: -1;
  background-image:
    repeating-linear-gradient(90deg, #D3D3D3 0, #D3D3D3 2px,
                                      transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #D3D3D3 0, #D3D3D3 2px,
                                      transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-start: 100px;
}

.card {
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: var(--border, 2px solid #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  padding: 7px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--heading-weight, 700);
  border: var(--border, 2px solid #000);
}

.card__text {
  padding: 25px;
  line-height: 21px;
  text-wrap: wrap;
}

.card__image-container {
  position: relative;
}

.img-text {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, -0.4063rem + 3.5vw, 1.5625rem);
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-size: 14px;
  color: rgb(0 0 0 / 0.5);
  text-shadow:
    -1px 0 var(--text-stroke-color, rgb(255 255 255 / 0.5)),
    0 1px var(--text-stroke-color, rgb(255 255 255 / 0.5)),
    1px 0 var(--text-stroke-color, rgb(255 255 255 / 0.5)),
    0 -1px var(--text-stroke-color, rgb(255 255 255 / 0.5));
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 / 0.5))) or
          (-webkit-text-stroke: 1px #000000)) {

  .img-text {
    -webkit-text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 / 0.5));
    text-stroke: 1px var(--text-stroke-color, rgb(255 255 255 / 0.5));
    text-shadow: none;
  }
}

.first-image {
  filter: brightness(0.5);
}

.second-image {
  filter: blur(5px);
}

.third-image {
  filter: invert(1);
}

.fourth-image {
  filter: hue-rotate(180deg);
}

.fifth-image {
  filter: sepia(1);
}

.sixth-image {
  filter: grayscale(1);
}

.seventh-image {
  filter: contrast(2) saturate(2) opacity(0.9) brightness(1.5);
}

.info {
  margin-block-end: 27px;
}

.like-button,
.save-button,
.button__close-dialog {
  padding: 12.5px 37px;
  background-color: var(--bg-color, #fff);
  border: var(--border, 2px solid #000);
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-size: 14px;
  font-weight: var(--base-weight, 400);
  line-height: 0.9;
}

.button__text:has(.like-button) {
  display: flex;
  gap: 12px;
  align-items: center;
  align-self: flex-end;
  margin: 0 25px 25px 0;
}

.like-icon {
  inline-size: 27px;
  block-size: 24px;
}

.like-button {
  block-size: 38px;
}

.save {
  display: flex;
  margin-block-start: 50px;
}

.button__text:has(.save-button) {
  margin: auto;
}

.save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 15px 21px;
}

.save-icon {
  inline-size: 21px;
  block-size: 21px;
}

dialog {
  display: grid;
  grid-template-areas:
  'icon text'
  'button button';
  place-items: center;
  row-gap: 30px;
  column-gap: 20px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

dialog:not([open]) {
  display: none;
}

.dialog__text {
  grid-area: text;
}

.dialog__icon {
  grid-area: icon;
  inline-size: 39px;
  block-size: 39px;
}

.button__close-dialog {
  grid-area: button;
  inline-size: 100%;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {

  .card {
    inline-size: 100%;
  }

  .card__title {
    padding: 5px 10px;
  }

  .card-zeroth .info {
    max-inline-size: 310px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}