:root {
  --font-main: Inter-Varible;
  --font-accent: PressStart2P;
  --bg-color: #fff;
  --text-color: #000;
  --base-weight: 400;
  --heading-weight: 700;
  --border: 2px solid #000;
  --text-stroke-color: rgb(255 255 255 / 0.5);
}